@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Black.otf);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-BlackItalic.otf);
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Bold.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-BoldItalic.otf);
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Medium.otf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-MediumItalic.otf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Book.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-BookItalic.otf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Light.otf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Circular";
	src: url(/src/circular/CircularStd-Light\ Italic.otf);
	font-weight: 300;
	font-style: italic;
}
